body {
    height: 100%;
    width: 100%;
    background: #000;
    background: url(../images/nybj.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    line-height: 1.15;

}

/* 头部 */
.head {
    height: 15%;
    background: url(../images/head_bg.png) no-repeat;
    background-size: 100% 100%;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    color: #fff;
    padding: 20px;
}

/* 内容 */
.content {
    height: 78%;
    /* background-color: aquamarine; */
}

/* 侧边 */
.aa {
    float: left;
    /* background-color: rgb(0, 211, 211); */
    width: 10%;
}

.aa ul {

    height: 250px;
    padding-top: 150px;
    float: left;
    list-style-type: none;
}

.aa ul li a {
    color: #fff;
    padding: 20px;
    font-size: 25px;
    text-decoration: none;

}

/* 内容最上方 */
.bb {
    float: left;
    /* background-color: rgb(200, 117, 178); */
    width: 90%;
    height: 10%;

}

.bb ul {
    padding-top: 12px;
    float: left;
    list-style-type: none;
    display: flex;
}

.bb ul li {
    width: 200px;
}

.bb ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;

}

/* 内容标题菜单 */
.cc {
    float: left;
    /* background-color: aqua; */
    width: 90%;
    height: 7%;
}

/* 主要内容 */
.dd {
    /* background-color: bisque; */
    float: left;
    width: 90%;
    height: 83%;

}

/* 表格盒子 */
.ddd {
    float: left;
    width: 90%;
    height: 400px;
    /* background-color: rgb(22, 125, 215); */

}


.ddd table {
    /* border-style: inset; */
    padding: 80px 30px;
    max-height: 200px;
}

.ddd th {
    background-color: rgba(4, 13, 29, 0.662);
    border-style: inset;
    border-color: rgba(1, 31, 81, 0.538);
    padding: 23px;
    min-width: 160px;
    color: #fff;
}

.ddd td {
    background-color: rgba(4, 13, 29, 0.738);
    border-style: inset;
    border-color: rgba(1, 31, 81, 0.538);
    text-align: center;
    color: #fff;
    padding: 14px;
}

.bottom {
    height: 7%;
    /* background-color: #fff; */
}

.bottom div {
    color: #fff;
    font-size: 20px;
    text-indent: 2em;
    float: left;
    width: 50%;
    line-height: 45px;
}

#showtime {
    float: right;
    text-align: right;
    position: relative;
    right: 20px;
    line-height: 50px;
    color: rgb(255, 255, 255, 0.7);
    font-size: 15px;
}