.cc {
    padding: 10px;
}

.cc a {
    padding: 20px;
    text-decoration: none;
    color: #fff;
}

#one,
#two,
#three,
#four {
    float: left;
    width: 42%;
    height: 49%;
    margin: 6px 30px;
    border: 1px solid rgba(5, 150, 207, 0.5);
    background: linear-gradient(#00faff, #00faff) left top,
        linear-gradient(#00faff, #00faff) left top,
        linear-gradient(#00faff, #00faff) right top,
        linear-gradient(#00faff, #00faff) right top,
        linear-gradient(#00faff, #00faff) left bottom,
        linear-gradient(#00faff, #00faff) left bottom,
        linear-gradient(#00faff, #00faff) right bottom,
        linear-gradient(#00faff, #00faff) right bottom;
    background-repeat: no-repeat;
    background-size: 2px 20px, 20px 2px;

}

h2 {
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.chartone,
.charttwo,
.chartthree,
.chartfour {
    margin: 0px 10px;
    width: 96.6%;
    height: 160px;
    background-color: rgba(4, 13, 29, 0.923);
}